*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 1500px;
  height: 100%;
  background: #e2e2e2;
}
.container .topPage {
  height: 700px;
  background: url(../Assets/image/Header/lampos-aritonang-24gR_9lCdes-unsplash\ 1.jpg) top/cover no-repeat;
  position: relative;
}
.container .topPage__headerTitre {
  display: flex;
  color: whitesmoke;
  text-transform: uppercase;
  margin: 3rem;
}
.container .topPage__svgTitle {
  position: relative;
  left: 4px;
  top: 10px;
}
.container .topPage__svgTitle .strocke {
  position: absolute;
  top: 2px;
  left: 1px;
}
.container .topPage__introduction {
  position: absolute;
  width: 890px;
  font-size: 55px;
  font-weight: 400;
  font-family: "Anton";
  text-align: center;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #FFD15B;
}
.container .topPage__search {
  position: absolute;
  bottom: 25%;
  right: 50%;
  transform: translate(50%, -50%);
  margin: 0 auto;
  border-radius: 10px;
}
.container .topPage__inputSearch {
  position: relative;
  font-size: 35px;
  width: 954px;
  height: 72px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.container .topPage__imageSearch {
  position: absolute;
  right: 6px;
  top: 4px;
  border-radius: 1rem;
  background: #000;
  padding: 10px;
  transition: 0.3s ease-in-out;
  stroke: white;
  stroke-width: 1;
}
.container .topPage__imageSearch:hover {
  background: #FFD15B;
  stroke: #000;
  fill: #FFD15B;
}
.container .recettes {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 100px;
  max-width: 1450px;
}
.container .recettes__containerTagsDynamique {
  width: 100%;
  margin-top: 1rem;
  border: #7A7A7A 1px solid;
  height: 5rem;
}
.container .recettes__headerTag {
  width: 650px;
  gap: 15px;
}
.container .recettes__tag {
  position: relative;
  width: 560px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.container .recettes .select2-container--default .select2-selection--single {
  width: 150px;
  height: 56px;
  border-radius: 11px;
  gap: 63px;
  text-align: start;
  padding: 17px 5px;
}
.container .recettes .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
}
.container .recettes .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 15px;
}
.container .recettes__nbrRecette {
  position: absolute;
  top: 1rem;
  right: 0px;
  font-family: "Anton";
  font-size: 21px;
  font-weight: 400;
}
.container .recettes__galerieCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container .recettes .hidden {
  display: none;
}
.container .recettes .show {
  display: block;
}
.container .recettes__card {
  width: 380px;
  position: relative;
  margin: 2rem 0;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  overflow: hidden;
  background: whitesmoke;
}
.container .recettes__card img {
  width: 100%;
  object-fit: cover;
  height: 253px;
}
.container .recettes__card figure {
  height: 730px;
}
.container .recettes__card figcaption {
  margin: 1.5rem;
}
.container .recettes__card figcaption p {
  display: -webkit-box;
  font-size: 14px;
  Line-height: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container .recettes__card figcaption p:nth-child(2) {
  color: #7A7A7A;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 16px;
}
.container .recettes__card figcaption p:nth-child(3) {
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  font-size: 14px;
}
.container .recettes__card figcaption h4 {
  margin: 1.5rem 0;
  color: #7A7A7A;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.container .recettes__temps {
  position: absolute;
  background: #FFD15B;
  box-shadow: 0px 0px 5px #FFD15B;
  padding: 5px 15px;
  border-radius: 14px;
  top: 21px;
  right: 22px;
}
.container .recettes__titreRecette {
  margin-bottom: 1rem;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.container .recettes__itemsIngredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  border: rgba(20, 223, 230, 0.96) solid 1px;
}/*# sourceMappingURL=styles.css.map */