*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 1500px;
  height: 100%;
  background: #e2e2e2;
}
.container .topPage {
  height: 700px;
  background: url(../Assets/image/Header/lampos-aritonang-24gR_9lCdes-unsplash\ 1.jpg) top/cover no-repeat;
  position: relative;
}
.container .topPage__headerTitre {
  display: flex;
  color: whitesmoke;
  text-transform: uppercase;
  margin: 3rem;
}
.container .topPage__svgTitle {
  position: relative;
  left: 4px;
  top: 10px;
}
.container .topPage__svgTitle .strocke {
  position: absolute;
  top: 2px;
  left: 1px;
}
.container .topPage__introduction {
  position: absolute;
  width: 890px;
  font-size: 55px;
  font-weight: 400;
  font-family: "Anton";
  text-align: center;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #FFD15B;
}
.container .topPage__search {
  position: absolute;
  bottom: 25%;
  right: 50%;
  transform: translate(50%, -50%);
  margin: 0 auto;
  border-radius: 10px;
}
.container .topPage__inputSearch {
  position: relative;
  font-size: 35px;
  width: 954px;
  height: 72px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.container .topPage__imageSearch {
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 0.5rem;
  background: #000;
  padding: 8px;
  transition: 0.3s ease-in-out;
  stroke: white;
  stroke-width: 1;
}
.container .topPage__imageSearch:hover {
  background: #FFD15B;
  stroke: #000;
  fill: #FFD15B;
}
.container .recettes {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 100px;
  max-width: 1450px;
}
.container .recettes__containerTagsDynamique {
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  margin-top: 1rem;
  gap: 20px 60px;
}
.container .recettes__labelTag {
  display: flex;
  justify-content: space-between;
  min-width: 203px;
  position: relative;
  padding: 10px 17px;
  border-radius: 10px;
  background: #FFD15B;
  letter-spacing: 2px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 900;
}
.container .recettes__headerTag {
  width: 650px;
  gap: 15px;
}
.container .recettes__tag {
  position: relative;
  width: 760px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.container .recettes .select2-container--default .select2-selection--single {
  height: 56px;
  border-radius: 11px;
  text-align: start;
  padding: 17px 5px;
}
.container .recettes .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.container .recettes .select2-container--default .select2-selection--single.select2-selection__arrow {
  top: 15px;
}
.container .recettes__nbrRecette {
  position: absolute;
  top: 1rem;
  right: 0px;
  font-family: "Anton";
  font-size: 21px;
  font-weight: 400;
}
.container .recettes__galerieCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container .recettes .hidden {
  display: none;
}
.container .recettes .show {
  display: block;
}
.container .recettes__card {
  width: 380px;
  height: 731px;
  position: relative;
  margin: 2rem 0;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  overflow: hidden;
  background: whitesmoke;
}
.container .recettes__card img {
  width: 100%;
  object-fit: cover;
  height: 253px;
}
.container .recettes__card figure {
  height: 730px;
}
.container .recettes__card figcaption {
  margin: 1.5rem;
}
.container .recettes__card figcaption p {
  display: -webkit-box;
  font-size: 14px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container .recettes__card figcaption p:nth-child(even) {
  margin: 1.5rem 0 1rem;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7A7A7A;
  letter-spacing: 1.5px;
}
.container .recettes__contentRecettes {
  margin-bottom: 2rem;
}
.container .recettes__pName {
  font-weight: 700;
}
.container .recettes__PquantityPunit {
  color: #7A7A7A;
  margin: 1.5rem 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.container .recettes__temps {
  position: absolute;
  background: #FFD15B;
  box-shadow: 0px 0px 5px #FFD15B;
  padding: 5px 15px;
  border-radius: 14px;
  top: 21px;
  right: 22px;
}
.container .recettes__titreRecette {
  margin-bottom: 1rem;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.container .recettes__itemsIngredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #FFD15B !important;
  color: #000 !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: #fff !important;
}

.select2-results__option[aria-selected] {
  font-weight: 600;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  margin: 0.5rem auto;
  outline: none;
  color: #7A7A7A;
  height: 36px;
  font-size: 14px;
  border: 1px solid #C6C6C6 !important;
  border-radius: 2px;
  background: right 44%/38% 30% no-repeat url(/Assets/svg/buttoncloseSearch.svg), right 40%/14% 50% no-repeat url(/Assets/svg/minisvgSearch.svg);
  cursor: pointer;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 13px !important;
  right: 1px;
}/*# sourceMappingURL=styles.css.map */